<div class="panel panel-default">

	<div class="panel-heading">
	{{#link-to 'stimuli.detail' stimulus.id}}{{stimulus.stimname}}{{/link-to}}
	</div>

	<div class="panel-body">
		<p>{{#link-to 'stimsets.detail' stimulus.stimset.id}}{{stimulus.stimset.stimsetname}}{{/link-to}}</p>
		<p>{{stimulus.mediaFilename}}</p>
		<p>{{#link-to 'creators.detail' stimulus.stimset.creator.id}}{{stimulus.stimset.creator.name}}{{/link-to}}</p> 
	</div>
</div>

