@import "bootstrap";

body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

.library-item {
  min-height: 150px;
}

.label-fade {
  margin: 10px;
  opacity: 0;
  @include transition(all 0.5s);
  &.label-show {
    opacity: 1;
  }
}
  
.extra-padding-bottom {
  padding-bottom: 20px;
}

.panel-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel-body {
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 150px;
}

.panel-body-detail {
    padding-top: 10px;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a { 
    display: block; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}

