<!-- /app/templates/creators/form.hbs -->
<h2>{{title}}</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <p>TO DO ITEMS</p>
    <ul>
               <li>Things added/edited here should get Source = Manually entered</li>
               <li>Add webaddress validation: require http:// or clean the input to fix it</li>
        </ul>
  </div>
</div>


<div class="row">
  
  <div class="col-md-6">
    {{creator-item-form item=model buttonLabel=buttonLabel action='saveCreator'}}
  </div>
  
  <div class="col-md-4">
    {{#creator-item item=model}}
      <br/>
    {{/creator-item}}
  </div>

</div>