<!-- app/templates/creators/listall.hbs -->

<div class="panel panel-default">
  <div class="panel-body">
    <p>TO DO ITEMS</p>
    <ul>
               <li>Clarify that this is fake data</li>
               <li>Make the panels stack in a less ugly way!</li>
               <li>Add to creator preview (here): picture of creator, sets (maybe with little billboard pictures?)</li>
        </ul>
  </div>
</div>



<div class="row">
  {{#each creators as |creator|}}
    <div class="col-md-4">

      {{#creator-item creator=creator}}

        {{#link-to 'creators.edit' creator.id class='btn btn-success btn-xs'}}Edit{{/link-to}}

        <button class="btn btn-danger btn-xs" {{action 'deleteCreator' creator}}>Delete</button>

      {{/creator-item}}

    </div>

{{/each}}
</div>

