<!-- app/templates/creators/listall.hbs -->

<div class="panel panel-default">
  <div class="panel-body">
    <p>TO DO ITEMS</p>
    <ul>
               <li>Clarify that this is fake data</li>
               <li>Make the panels stack in a less ugly way!</li>
               <li>Clicking a panel should expand or link to a creator detail page</li>
               <li>Creator preview (here) includes: Name, picture, contact details, list of stimulus sets (maybe with little billboard pictures)</li>
               <li>Clicking on stimset should link to the stimset detail page</li>
        </ul>
  </div>
</div>



<div class="row">
  {{#each creators as |creator|}}
    <div class="col-md-4">

      {{#creator-item item=creator}}

        {{#link-to 'creators.edit' creator.id class='btn btn-success btn-xs'}}Edit{{/link-to}}

        <button class="btn btn-danger btn-xs" {{action 'deleteCreator' creator}}>Delete</button>

      {{/creator-item}}

    </div>

{{/each}}
</div>

