<!-- app/templates/admin/messages.hbs -->

<h1>Messages sent to stimdb1</h1>

<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>E-mail</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |message|}}
    <tr>
      <td>{{message.id}}</td>
      <td>{{message.email}}</td>
      <td><p>{{message.messagetxt}}</p></td>
    </tr>
  {{/each}}
  </tbody>
</table>
