<p>only fake ones!</p>

<div class="panel panel-default">
  <div class="panel-body">
    <p>TO DO ITEMS</p>
    <ul>
               <li>Implement 'preview' panel view in place of list' (like creators)</li>
               <li>Preview includes: Name, creator/citation, 'billboard image' for stimset, text links to sample stimuli (e.g. dog.mp3, cat.mp3, bird.mp3...</li>
               <li>Clicking on creator should link to creator detail page</li>
               <li>Clicking on stimset should link to stimset detail page</li>
               <li>Clicking on stimulus link should link directly to stimulus-view page</li>
        </ul>
  </div>
</div>

 <table class="table table-bordered table-striped">
   <thead>
     <tr>
       <th>Creator</th>
       <th>Stimulus set name</th>
       <th>Stimuli</th>
     </tr>
   </thead>
   <tbody>
     {{#each stimsets as |stimset|}}
       <tr>
         <td>{{stimset.creator.name}}</td>
         <td>{{stimset.stimsetname}}</td>
         <td>
           <ul>
             {{#each stimset.stimuli as |stimulus|}}
               <li>{{stimulus.mediaFilename}}</li>
             {{/each}}
           </ul>
         </td>
       </tr>
     {{/each}}
   </tbody>
 </table>