<p>only fake ones!</p>

<div class="panel panel-default">
  <div class="panel-body">
    <p>TO DO ITEMS</p>
    <ul>
               <li>Add to preview: 'billboard image' for stimset, text links to sample stimuli (e.g. dog.mp3, cat.mp3, bird.mp3...</li>
               <li>Clicking on stimulus link should link directly to stimulus-view page</li>
        </ul>
  </div>
</div>


 <div class="row">
  {{#each stimsets as |stimset|}}
    <div class="col-md-4">
      {{stimset-item stimset=stimset}}
    </div>
  {{/each}}
</div>