<div class="panel panel-default">
  <div class="panel-body">
    <p>TO DO ITEMS</p>
    <ul>
               <li>Implement a form to make a new stimset</li>
               <li>Requires you to select creator from a dropdown; include link back to new-creator page if it isn't there yet</li>
               <li>With a checkbox to indicate whether to make some fake stimulus items!</li>
               <li>should parallel creators/form page</li>
               <li>Anything entered here should get Source = Manually entered</li>
        </ul>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <p> here is text </p>
    <p> {{#form-for stimset as |s|}}
      here is some text {{s.text-field "stimsetname"}}
      {{s.submit "create new stimulus set"}}
    {{/form-for}} </p>

  </div>
</div>
