<div class="panel panel-default">
  <div class="panel-body">
    <p>TO DO ITEMS</p>
    <ul>
               <li>Implement simple search!</li>
               <li>Eventually, should be able to have multiple filters to e.g. animated stimuli, event stimuli. This is a subset of all properties!!</li>
               <li>For now, this should just match stimuli that have the searched word in...filename, what else?</li>
               <li>To think about: search should pull up both stim sets and individual stimuli</li>
        </ul>
  </div>
</div>
