<h1>About</h1>

<p>This is going to be a searchable database of psychological stimuli. You contribute to it by making a public repository on OSF and including a component which contains individual [stim file, info file] pairs plus a master info file with information about the set. If you put them in the right format (and mark them with a special tag?) then this website should find/load them. </p>

<h5>Community norms</h5>

<p>Everything is public/cc licensed, and every stimulus has a citation; if you use this database, you cite this database + the stimuli.</p>

<h5>Benefit of the database</h5>

<p>A taxonomy of stimuli, organized both by content and by research purpose (e.g.: Pictures of faces; stimuli appropriate for toddlers; stimuli created for social experiments). The ability to search & generate metadata for these stimuli (the spreadsheets you get out of either end); ongoing creation/curation of stimulus types.</p>

<h5>Desiderata </h5>

<p>Things that should be very easy for users of stimuli to do:</p>

    <ul>
    <li>Find and browse stimulus sets in the database</li>
    <li>Search for stimuli across or within sets, including both easily discovering common fields and unstructured searching. This needs to be more than a searchbox, but not sure how much more.</li>
    <li>Download stimuli with their information - eventually including something more user-friendly than a pile of json files!</li>
    </ul>

<p>Things that should be pretty easy for contributors of stimuli to do:</p>

	<ul>
    <li>Decide what kind/type their stimset is and find out what tagging is required by the schema</li>
    <li>Provide the tagging info in spreadsheet form, and get back the corresponding json files (Something like how the simple mturk online interface will download you a csv with the necessary columns for the variables you used</li>
    <li>Send you to OSF to upload those files</li>
    </ul>

<p>Other neat things</p>

    <ul>
    <li>If you have new info on a stim set (e.g. new norming!), you should be able to associate it with that set (Model: "These info files in Reseacher2's component refer to stim set/items on Researcher1's component).</li>
    <li>As with stim sets themselves, norming data like this should be linked/cited to their creator</li>
    <li>Eventually: Derivative stimuli/modifications to someone else's stim (Maybe we just let people document this naturalistically...</li>
    </ul>