<!-- app/templates/creators.hbs -->

<h1>People</h1>

{{outlet}}

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'creators.listall' tagName="li"}}<a href="">List all</a>{{/link-to}}
    {{#link-to 'creators.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
  </ul>
</div>

