<h1>Front page</h1>

It's a mockup of stimdb!  Stimdb needs a real name. Miraculously there is a navbar now. 

To implement:
<ul>
<li>Login/admin access of some kind (??User authentification????)</li>
<li>Sample sets</li>
<li>(Everything)</li>
</ul>