<p>Prototype of an open, searchable database of psychological stimuli. It provides/will provide a front-end view of stimuli stored on the OSF that allows you to search, discover, download, and cite stimuli created by other researchers, and in turn to contribute back information you collect about these stimuli. This will create a centralized resource for well-normed stimuli that support cumulative, interpretable science across different measures, populations & experimental questions.</p>

<p>Currently the site is designed to support stimuli of visual events and stimuli of no particular type, and stimuli are stored on a file server (not integrated with OSF).  Visual Event stimuli are depictions of short, naturalistic chunks of action that could be described with a single sentences, like <em>Melissa broke the vase</em> or <em>He told me that the dog was cute.</em></p>

<h4>Future navigation for types of users</h4>


<list>
	<li>What is this database? (basic info - what's it do, who are we)</li>
	<li>Explore stimuli (views for Stimulus Sets, People, listall)</li>
	<li>Contribute stimuli (metadata explanation, schema downloads, upload instructions)</li>
	<li>Search for stimuli (search pages, explanation of metadata structure</li>
	<li>'Explore' and 'Search' pathways should also lead you to community norms/citation practices </li> 
</list>
<p></p>