<h1>Front page</h1>

<p>Stimdb needs a real name. Miraculously there is a navbar now.</p> 

<div class="panel panel-default">
	<div class="panel-body">
		<p>TO DO ITEMS</p>
		<ul>
               <li>Login/admin access of some kind (User authentification)</li>
               <li> paragraph formatting in app.scss</li>
        </ul>
	</div>
</div>