<h1>Front page</h1>

<p>This is a mock-up of a searchable database of psychological stimuli. The goal is to provide a front-end view of stimuli stored on the OSF that allows you to search, discover, download, and cite stimuli created by other researchers, and in turn to contribute back information you collect about these stimuli. This will create a centralized resource for well-normed stimuli that support cumulative, interpretable science across different measures, populations & experimental questions.</p>
<p> We are calling it stimdb for now, but it needs a real name. This mock-up has no real stimuli in it (for now) but models browsing through stimuli and contributors, and eventually searching, downloading, etc. </p> 

<div class="panel panel-default">
	<div class="panel-body">
		<p>TO DO ITEMS</p>
		<ul>
               <li>Login/admin access of some kind (User authentification)</li>
               <li> paragraph formatting in app.scss</li>
        </ul>
	</div>
</div>