<!-- app/templates/stimsets.hbs -->

<h1>Stimulus Sets</h1>


<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'stimsets.listall' tagName="li"}}<a href="">List all</a>{{/link-to}}
    {{#link-to 'stimsets.search' tagName="li"}}<a href="">Search</a>{{/link-to}}
    {{#link-to 'stimsets.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
  </ul>
</div>

{{outlet}}