<!-- app/templates/stimsets.hbs -->

<h1>Stimulus Sets</h1>

<p>{{#link-to 'stimuli.listall'}}List all stimuli{{/link-to}}</p>

{{outlet}}

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'stimsets.listall' tagName="li"}}<a href="">List all</a>{{/link-to}}
    {{#link-to 'stimsets.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
  </ul>
</div>
